body {
  padding: 0; margin: 0 ;
  background-color: #eee;
}

#transcript {
  width: 300px;
  background: #ccc;



}

#transcript a {
  color: #000;
  display: block;

  background: #eee;
  height: 60px;
  border-bottom: solid 1px #aaa;
  padding: 1px 0px 0 0;
  font-size: 16px;
  text-decoration: 1;
  cursor: pointer;
  text-align: left


}
#transcript a.active     {

  color:#000;
  visibility: visible;
  top: 0
}

.input-text {
  outline: 0;
  border: 0;
  background: transparent ;
  padding:  0;
  display: block;
  width: 85%;
  min-height: 40px;
  position: absolute;
  cursor: text;



}
