body {
  padding: 0; margin: 0 ;
  background-color: #000;
  color:#fff;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	-ms-text-size-adjust: none;
  min-width:840px;

}

#transcript {
  width: 300px;
}

#transcript a {
  display: block;
  height: 50px;
  border-bottom: solid 1px #555;
  padding: 1px 0px 0 0;
  font-size: 16px;
  text-decoration: 1;
  cursor: pointer;
  text-align: left
}

#transcript a.active     {
  visibility: visible;
  top: 0
}

.input-text {
  outline: 0;
  border: 0;
  background: transparent ;
  padding:  0;
  display: block;
  width: 85%;
  min-height: 40px;
  position: absolute;
  cursor: text;
}
